* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

div.main {
    background-image: url("/pic/background.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px, 100vw);
    position: relative;
    /* object-fit:cover; */
}

.box {
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.67;
}

nav {
    display: flex;
    margin: auto;
    padding: 20px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    max-width: 75vw;

}

nav img {
    color: rgb(174, 8, 8);
    width: 150px;
    position: relative;
    z-index: 10;
    margin: auto; 
 }

nav button {
    position: relative;
    z-index: 10;
}

.center {
    height: calc(100% - 105px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    color: white;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.small1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.small2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.hr {
    height: 10px;
    background-color: rgb(35, 35, 35);
}

.btn {
    padding: 8px;
    font-weight: bold;
    color: white;
}
.btn-sign {
    background-color: rgb(244, 39, 39);
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 14px;
}

.btn-get {
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 11px 42px;
    font-size: 21px;
}

.input {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 42px;
    font-size: 20px;
    background: transparent;
    color: whitesmoke;
}

.trans{
    background: transparent;
}
button select option{
    color:black;
}
.language {
    font-size:12px;
    background: transparent;
    border-radius: 4px;
    padding: 6px 20px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    padding-top: 46px;
    padding-bottom: 61px;
}

.firstimg {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.video {
    position: absolute;
    z-index: -1;
    top: -91px;
    left: 75px;
    width: 190%;
    height: 100vh;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 22px;
    font-weight: bolder;
}

.freq {
    background-color: black;
    margin: 40px;
    color: white;
    text-align: center;
}
.freqbox:hover{
    background-color:rgb(117, 108, 108);
}
.freqbox svg{
    filter:invert(1);
}
.freqbox {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    font-size: 24px;
    margin: 34px auto;
    padding: 24px;
    background-color: rgb(77, 74, 74);
    
}

section h2 {
    font-size: 48px;
    font-weight: 900;
}
.lastline{
    font-size: 20px;
    padding: 10px;
}
footer{
    color:white;
    max-width: 70vw;
    margin:auto;
    padding: 30px;
    
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div a{
    color:white;
    font-size: 14px;
    
    
}
.footer-item{
    display:flex;
    flex-direction: column;
    gap:23px;
    
}
/* @media screen and (max-width:500px){
    nav{
        
    }
} */

@media screen and (max-width:1000px){
    .first{
        flex-flow: wrap;
    }
    .firstimg{
        overflow: hidden;
        width:118vw;
    }
    .footer{
        grid-template-columns:1fr 1fr;
        gap:40px;
    }
}